img {
  width: 80%;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
}
body {
  margin: 15%;
  background-color: gold;
}
a {
  color: white;
  font-weight: 600;
  font-size: 20px;
}
a:hover {
  color: black;
}
